<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}
{% load aggregations %}
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}">  
  {% ifinstalled mezzanine.blog %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
  {% endifinstalled %}

  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap3.2.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/mezzanine.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/flaticon.css" %}">
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-rtl.css" %}">
  {% endif %}
  {% ifinstalled cartridge.shop %}
  <link rel="stylesheet" type="text/css" href="{% static "css/cartridge.css" %}">
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" type="text/css" href="{% static "css/cartridge.rtl.css" %}">
  {% endif %}
  {% endifinstalled %}
  <link rel="stylesheet" type="text/css" href="{% static "css/westgate.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "slick/slick.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "slick/slick-theme.css" %}">
  {% block extra_css %}{% endblock %}
  {% endcompress %}

  {% compress js %}
  <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap-extras.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
  <script type="text/javascript" src="{% static "js/search.js" %}"></script>
  <!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
  <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>

  {% block extra_js %}{% endblock %}
  {% endcompress %}

  <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>

<body id="{% block body_id %}body{% endblock %}">

  <nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="Brand" class="img-responsive wg-logo" src="{% static "img/wg-logo.jpg" %}"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        {% page_menu "pages/menus/dropdown.html" %}
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Your profile
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/profile/#favorites_profile">View your favourites <span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="/profile/#save_search_profile">View your saved search <span class="glyphicon glyphicon-search"></span></a></li>
                <li><a href="/accounts/logout/">Logout <span class="glyphicon glyphicon-user"></span></a></li>
              </ul>
            </li>              
            {% else %}
            <li><a href="#login-register-modal" role="button" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Login</a></li>
            {% endif %}
          </ul>
      </div>
    </div>
  </nav>
<!--
  <div class="navbar navbar-inverse wgcontactbar">
    <ul class="nav navbar-nav wgcontactbar-left">
          <li>
            <a href="tel:01132405088"><i class="fa fa-phone fa-fw"></i> 0113 240 5088</a>
          </li>
          <li>
            <a href="mailto:info@westgate-estate.co.uk"><i class="fa fa-envelope fa-fw"></i> info@westgate-estate.co.uk</span></a>
          </li>
    </ul>
    <ul class="nav navbar-nav wgcontactbar-right">
      <li>
          <a href="https://twitter.com/WestgateEstates"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
      </li>
      <li>
          <a href="https://www.facebook.com/Westgate-Estates-283486395319079"><i class="fa fa-facebook-official fa-fw"></i> Facebook</span></a>
      </li>
    </ul>
  </div>
-->
<div id="login-register-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-register-modal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Sign in / register</h3>
  </div>
  <div class="modal-body">
      <div class="row">
            <div class="col-md-6">
                <p>Already have an account..?</p>
                <button class="btn btn-primary btn-lg" href="#login-modal" role="button" data-dismiss="modal" aria-hidden="true" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign in</button>
            </div>
            <div class="col-md-6">
                <p>Register for a new account...</p>
                <button class="btn btn-primary btn-lg" href="#register-modal" role="button" data-dismiss="modal" aria-hidden="true" data-toggle="modal"><span class="glyphicon glyphicon-cog"></span> Register</button>
            </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Continue without signing in</button>
  </div>
</div>
</div>
</div>

<div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Sign in</h3>
  </div>
  <div class="modal-body">
    <form class="login" method="POST" action="/accounts/login/?next={{request.get_full_path}}">
      {% csrf_token %}
      <p><label for="id_login">Username:</label> <input autofocus="autofocus" id="id_login" maxlength="30" name="login" placeholder="Username" type="text"></p>
    <p><label for="id_password">Password:</label> <input id="id_password" name="password" placeholder="Password" type="password"></p>
    <p><label for="id_remember">Remember Me:</label> <input id="id_remember" name="remember" type="checkbox"></p>
      
      <a class="button secondaryAction" href="/accounts/password/reset/">Forgot Password?</a>
      <button class="primaryAction btn btn-primary" type="submit">Sign In</button>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Continue without signing in</button>
  </div>
</div>
</div>
</div>

<div id="contact-success-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contact-success-modal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact us</h3>
  </div>
  <div class="modal-body">
    <p>Thank you for getting in touch with us.</p>
    <p>A copy of your message has been sent to your email address.</p>
    <p>We will be in contact with you soon!</p>    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
</div>
</div>

<div id="register-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="register-modal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Register</h3>
  </div>
  <div class="modal-body">
    <div class="socialaccount_ballot" style="margin: 30px; ">
      <div class="btn-group">
        <a class='btn btn-danger disabled'><i class="fa fa-google-plus" style="width:14px;"></i></a>
        <a class='btn btn-danger' href='/accounts/google/login/?process=login' style="width:12em;"> Sign in with Google</a>
      </div>
      <br /><br />  
      <div class="btn-group">
        <a class='btn btn-primary disabled'><i class="fa fa-facebook" style="width:14px;"></i></a>
        <a class='btn btn-primary ' href='/accounts/facebook/login/?process=login' style="width:12em"> Sign in with Facebook</a>
      </div>  
      <br /><br />
      <div class="btn-group">
        <a class='btn btn-info disabled'><i class="fa fa-twitter" style="width:14px;"></i></a>
        <a class='btn btn-info ' href='/accounts/twitter/login/?process=login' style="width:12em"> Sign in with Twitter</a>
      </div>  
    </div>

    <form class="signup" id="signup_form" method="post" action="/accounts/signup/">
      {% csrf_token %}
      <p><label for="id_username">Username:</label> <input autofocus="autofocus" id="id_username" name="username" placeholder="Username" type="text"></p>
    <p><label for="id_email">E-mail :</label> <input id="id_email" name="email" placeholder="E-mail address" type="email"></p>
    <p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" placeholder="Password" type="password"></p>
    <p><label for="id_password2">Password (again):</label> <input id="id_password2" name="password2" placeholder="Password (again)" type="password"><input id="id_confirmation_key" maxlength="40" name="confirmation_key" type="hidden"></p>
      
      <button type="submit" class="btn btn-primary">Sign Up »</button>
    </form>    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Continue without signing in</button>
  </div>
</div>
</div>
</div>

    {% block meta_main %}

  <div class="container" style="margin-top: 30px;">
    <div class="row">
      <div class="col-md-3 right">
        <h2>Search:</h2>
        {% block right_panel %}
        <ul class="nav nav-tabs">
          <li class="nav {% if not rescom or rescom < 3 %}active{%endif%}"><a href="#for_res" data-toggle="tab">Residential</a></li>
          <li class="nav {% if rescom > 2 %}active{%endif%}"><a href="#for_com" data-toggle="tab">Commercial</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in {% if not rescom or rescom < 3 %}active{%endif%}" id="for_res">
            <div class="panel panel-default">
              <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="nav {% if rescom != 2 %}active{%endif%}"><a href="#for_sale" data-toggle="tab">For Sale</a></li>
          <li class="nav {% if rescom == 2 %}active{%endif%}"><a href="#to_rent" data-toggle="tab">To Rent</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in {% if rescom != 2 %}active{%endif%}" id="for_sale">
            <div class="panel panel-default">
              <div class="panel-body">

                <form id="sale_form" action="{% url 'residential_property_list_sale' %}" method="post">
                  {% csrf_token %}
                  <p>
                    <label>Price : </label>
                    <span style="border:0; color:#f6931f; font-weight:bold;">£</span>
                    <input type="text" id="property_price_low" name ="property_price_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 32px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;"> - £</span>
                    <input type="text" id="property_price_high" name="property_price_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 50px; padding: 0;">
                  </p>         
                  <div id="price-slider-range"></div>    
                  <br/>

                  <p>
                    <label>Number of Bedrooms : </label>
                    <input type="text" id="property_bedroom_low" name="property_bedroom_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 8px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;">- </span>
                    <input type="text" id="property_bedroom_high" name="property_bedroom_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 18px; padding: 0;">        
                  </p>         
                  <div id="bedroom-slider-range"></div>    
                  <br/>
                  <button class="btn btn-default" onclick="search_residental1('sale_form');"><span class='glyphicon glyphicon-search'></span> Search</button>
                  <a class="btn btn-default" data-toggle="modal" data-target="#save_search_dlg" onclick="save_search(event, 'sale_form', '{{ user.is_authenticated }}');" title="Click this button to save your search preferences, so that you do not need to enter them next time you visit our site."><span class='glyphicon glyphicon-download-alt'></span> Save search</a>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade in {% if rescom == 2 %}active{%endif%}" id="to_rent">
            <div class="panel panel-default">
              <div class="panel-body">

                <form id="rent_form" action="{% url 'residential_property_list_rent' %}" method="post">
                  {% csrf_token %}
                  <p>
                    <label>Price : </label>
                    <span style="border:0; color:#f6931f; font-weight:bold;">£</span>
                    <input type="text" id="rent-property_price_low" name ="property_price_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 32px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;"> - £</span>
                    <input type="text" id="rent-property_price_high" name="property_price_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 50px; padding: 0;">
                  </p>         
                  <div id="rent-price-slider-range"></div>    
                  <br/>
                  <p>
                    <label>Number of Bedrooms : </label>
                    <input type="text" id="rent-property_bedroom_low" name="property_bedroom_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 8px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;">- </span>
                    <input type="text" id="rent-property_bedroom_high" name="property_bedroom_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 18px; padding: 0;">        
                  </p>         
                  <div id="rent-bedroom-slider-range"></div>    
                  <br/>
                  <label>Furnished ?</label>
                  <select style="width: 94%; margin-bottom: 10px;" name="let_furn" id="let_furn_rent">
                    <option value="-1">Please select...</option>
                    <option value="0">Furnished</option>
                    <option value="1">Part Furnished</option>
                    <option value="2">Unfurnished</option>
                    <option value="3">Not Specified</option>
                    <option value="4">Furnished/ Un Furnished</option>
                  </select>      
                  <button class="btn btn-default" onclick="search_residental1('rent_form');"><span class='glyphicon glyphicon-search'></span> Search</button>
                  <a class="btn btn-default" data-toggle="modal" data-target="#save_search_dlg" onclick="save_search(event, 'rent_form', '{{ user.is_authenticated }}');" title="Click this button to save your search preferences, so that you do not need to enter them next time you visit our site."><span class='glyphicon glyphicon-download-alt'></span> Save search</a>
                </form>
              </div>
            </div>
          </div>
        </div>

              </div>
            </div>
          </div>
          <div class="tab-pane fade in {% if rescom > 2 %}active{%endif%}" id="for_com">
            <div class="panel panel-default">
              <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="nav {% if rescom != 5 %}active{%endif%}"><a href="#cfor_sale" data-toggle="tab">For Sale</a></li>
          <li class="nav {% if rescom == 5 %}active{%endif%}"><a href="#cto_rent" data-toggle="tab">To Rent</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in {% if rescom != 5 %}active{%endif%}" id="cfor_sale">
            <div class="panel panel-default">
              <div class="panel-body">

                <form id="csale_form" action="{% url 'commercial_property_list_sale' %}" method="post">
                  {% csrf_token %}
                  <p>
                    <label>Price : </label>
                    <span style="border:0; color:#f6931f; font-weight:bold;">£</span>
                    <input type="text" id="cproperty_price_low" name ="property_price_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 32px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;"> - £</span>
                    <input type="text" id="cproperty_price_high" name="property_price_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 50px; padding: 0;">
                  </p>         
                  <div id="cprice-slider-range"></div>    
                  <br/>

                    <input type="hidden" id="cproperty_bedroom_low" name="property_bedroom_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 8px; padding: 0;">
                    <input type="hidden" id="cproperty_bedroom_high" name="property_bedroom_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 18px; padding: 0;">        
                  <div id="cbedroom-slider-range" style="display: none;"></div>    
                  <br/>
                  <button class="btn btn-default" onclick="search_residental1('sale_form');"><span class='glyphicon glyphicon-search'></span> Search</button>
                  <a class="btn btn-default" data-toggle="modal" data-target="#save_search_dlg" onclick="save_search(event, 'csale_form', '{{ user.is_authenticated }}');" title="Click this button to save your search preferences, so that you do not need to enter them next time you visit our site."><span class='glyphicon glyphicon-download-alt'></span> Save search</a>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade in {% if rescom == 5 %}active{%endif%}" id="cto_rent">
            <div class="panel panel-default">
              <div class="panel-body">

                <form id="crent_form" action="{% url 'commercial_property_list_rent' %}" method="post">
                  {% csrf_token %}
                  <p>
                    <label>Price : </label>
                    <span style="border:0; color:#f6931f; font-weight:bold;">£</span>
                    <input type="text" id="crent-property_price_low" name ="property_price_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 32px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;"> - £</span>
                    <input type="text" id="crent-property_price_high" name="property_price_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 50px; padding: 0;">
                  </p>         
                  <div id="crent-price-slider-range"></div>    
                  <br/>

                    <input type="hidden" id="crent-property_bedroom_low" name="property_bedroom_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 8px; padding: 0;">
                    <input type="hidden" id="crent-property_bedroom_high" name="property_bedroom_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 18px; padding: 0;">        
                  <div id="crent-bedroom-slider-range" style="display: none;"></div>    
                  <input type="hidden" value="-1"  name="let_furn" id="clet_furn_rent">
                  <br/>
                  <button class="btn btn-default" onclick="search_residental1('rent_form');"><span class='glyphicon glyphicon-search'></span> Search</button>
                  <a class="btn btn-default" data-toggle="modal" data-target="#save_search_dlg" onclick="save_search(event, 'crent_form', '{{ user.is_authenticated }}');" title="Click this button to save your search preferences, so that you do not need to enter them next time you visit our site."><span class='glyphicon glyphicon-download-alt'></span> Save search</a>
                </form>
              </div>
            </div>
          </div>
        </div>
              
              </div>
            </div>
          </div>
        </div>

        <!-- Save Search Modal -->
        <div class="modal fade" id="save_search_dlg" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save your search</h4>
              </div>
              <div class="modal-body">
                <p>Your search has been saved. Would you like to receive a weekly email containing a list of properties that match your search? You can unsubscribe at any time. </p>
                <div><input type="checkbox" class="save_search_chk" style="margin: 5px;"><span>Check the box to receive the email.</span></div>          
                <small>Please note, this service is not yet active, although you will start to receive the email shortly.</small>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

        <!-- Favorite Modal -->
        <div class="modal fade" id="favorite_dlg" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Favorite</h4>
              </div>
              <div class="modal-body">
                <p id="favor_msg">This property has been added to your favourites. </p>
                <a href="/profile/#favorites_profile">View all of your favourites?</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Login Confirm Modal -->
        <div id="dialog-confirm" title="Please login first!" style="display:none;">
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Please <a href="/accounts/login/">login</a> to save your settings.</p>
        </div>

        <!-- Favorite Delete Confirm Modal -->
        <div id="fav-dialog-confirm" title="Favorite Remove" style="display:none;">
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure you would like to remove this property from your favourites?</p>
        </div>
      </div>

      <div class="col-md-9 middle">
        <h1>{% block title %}{% endblock %}</h1>
        {% block main %}{% endblock %}
      </div>


      {% endblock %}
    </div>

  </div>
</div>


  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Connect with us:</h2>
        </div>
        <div class="col-lg-6">
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="https://twitter.com/WestgateEstates" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
              <!-- <li>
                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-google-plus-official fa-fw"></i> <span class="network-name">Google+</span></a>
              </li> -->
            <li>
              <a href="https://www.facebook.com/Westgate-Estates-283486395319079" class="btn btn-default btn-lg"><i class="fa fa-facebook-official fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /.container -->
  </div><!-- /.banner -->

            {% endblock %}
            <!-- Footer -->
            <footer>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <ul class="list-inline">
                      <li>
                        <a href="/">Home</a>
                      </li>
                      <li class="footer-menu-divider">&sdot;</li>
                      <li>
                        <a href="contact-us">Contact us</a>
                      </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Westgate Estates. All Rights Reserved. Website by <a href="rik-deakin">Rik</a></p>
                  </div>
                </div>
              </div>
            </footer>

            {% block footer_js %}
            {% include "includes/footer_scripts.html" %}
            {% endblock %}

            <script type="text/javascript">
              var sprice_max = {% agg_price 0 1 1 %};
              var sprice_min = {% agg_price 0 1 0 %};
              var rprice_max = {% agg_price 0 2 1 %};
              var rprice_min = {% agg_price 0 2 0 %};
              var sbedroom_max = {% agg_bedroom 0 1 1 %};
              var sbedroom_min = {% agg_bedroom 0 1 0 %};
              var rbedroom_max = {% agg_bedroom 0 2 1 %};
              var rbedroom_min = {% agg_bedroom 0 2 0 %};              
              var csprice_max = {% agg_price 1 1 1 %};
              var csprice_min = {% agg_price 1 1 0 %};
              var crprice_max = {% agg_price 1 2 1 %};
              var crprice_min = {% agg_price 1 2 0 %};
              var csbedroom_max = {% agg_bedroom 1 1 1 %};
              var csbedroom_min = {% agg_bedroom 1 1 0 %};
              var crbedroom_max = {% agg_bedroom 1 2 1 %};
              var crbedroom_min = {% agg_bedroom 1 2 0 %};              
            </script>
            {% block slider_js_variable %}
            <script type="text/javascript">
              var price_range_sale = [sprice_min, sprice_max];
              var bedroom_range_sale = [sbedroom_min, sbedroom_max];
              var price_range_rent = [rprice_min, rprice_max];
              var bedroom_range_rent = [rbedroom_min, rbedroom_max];
              var cprice_range_sale = [csprice_min, csprice_max];
              var cbedroom_range_sale = [csbedroom_min, csbedroom_max];
              var cprice_range_rent = [crprice_min, crprice_max];
              var cbedroom_range_rent = [crbedroom_min, crbedroom_max];
              var let_furn = -1;
              var clet_furn = -1;
            </script>
            {% endblock %}

            <script type="text/javascript">
              $(".wgbannerslider").slick({
                dots: true,
                speed: 300,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 8000
              });
              $('.wgpropertygallery').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.wgpropertygallery-nav'
              });
              $('.wgpropertygallery-nav').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.wgpropertygallery',
                dots: true,
                centerMode: true,
                focusOnSelect: true
              });
            </script>

          </body>
          </html>
