<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">  
{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/westgate.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "css/flaticon.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/search.js" %}"></script>

{% block extra_js %}{% endblock %}
{% endcompress %}

<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

</head>

<body id="{% block body_id %}body{% endblock %}">

<nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
    <div class="navbar-inner">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="btn btn-link navbar-btn navbar-brand" href="/">
                        <img alt="Brand" class="img-responsive wg-logo" src="{% static "img/i-logo.png" %}">
                    </a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                {% search_form "all" %}
                {% page_menu "pages/menus/dropdown.html" %}
            </div>
        </div>
    </div>
</nav>

{% block meta_main %}
<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% block title %}{% endblock %}</h1>

<ul class="breadcrumb">
{% spaceless %}
{% endspaceless %}
</ul>

</div>

<div class="container">
<div class="row">

<div class="col-md-1 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="col-md-8 middle">
    {% block main %}{% endblock %}
</div>

<div class="col-md-3 right">
    <ul class="nav nav-tabs">
      <li role="presentation" id="tab_resale" class="active"><a href="javascript:set_trans_type(1);">Resale</a></li>
      <li role="presentation" id="tab_rent"><a href="javascript:set_trans_type(2);">Rent</a></li>
    </ul>
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
      <form action="{% url "residential_property_list" %}" method="post">
        {% csrf_token %}

        
        <p>
          <label>Price : </label>
          <span style="border:0; color:#f6931f; font-weight:bold;">£</span>
          <input type="text" id="property_price_low" name ="property_price_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 30px; padding: 0;">
          <span style="border:0; color:#f6931f; font-weight:bold;"> - £</span>
          <input type="text" id="property_price_high" name="property_price_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 45px; padding: 0;">
        </p>         
        <div id="price-slider-range"></div>    
        <br/>

        <p>
          <label>Bedroom : </label>
          <input type="text" id="property_bedroom_low" name="property_bedroom_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 8px; padding: 0;">
          <span style="border:0; color:#f6931f; font-weight:bold;">- </span>
          <input type="text" id="property_bedroom_high" name="property_bedroom_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 15px; padding: 0;">        
        </p>         
        <div id="bedroom-slider-range"></div>    
        <br/>

        <input type="hidden" name="trans_type" id="trans_type_id" value="1">

        <label>Price_Qualifier</label>
        <select style="width: 94%; margin-bottom: 10px;" name="price_qualifier">
          <option value="-1">Select Price Qualifier</option>
          <option value="0">Default</option>
          <option value="1">POA</option>
          <option value="2">Guide Price</option>
          <option value="3">Fixed Price</option>
          <option value="4">Offers in Excess</option>
          <option value="5">OIRO</option>
          <option value="6">Sales by Tender</option>
          <option value="7">From(new homes and commercial only)</option>
          <option value="9">Shared Ownership</option>
          <option value="10">Offers Over</option>
          <option value="11">Part Buy Part Rent</option>
          <option value="12">Shared Equity</option>
          <option value="14">Equity Loan</option>
          <option value="15">Offers Invited</option>          
        </select>

        <label>Let_Furn</label>
        <select style="width: 94%; margin-bottom: 10px;" name="let_furn">
          <option value="-1">Select Let Furn</option>
          <option value="0">Furnished</option>
          <option value="1">Part Furnished</option>
          <option value="2">Unfurnished</option>
          <option value="3">Not Specified</option>
          <option value="4">Furnished/ Un Furnished</option>
        </select>      

        <label>Let_Rent_Frequency</label>
        <select style="width: 94%; margin-bottom: 10px;" name="let_rent_frequency">
          <option value="-1">Select Let Rent Frequency</option>
          <option value="0">Weekly</option>
          <option value="1">Monthly</option>
          <option value="2">Quarterly</option>
          <option value="3">Annual</option>
          <option value="5">Per person per week(Students Lettings only)</option>
        </select>      

        <input type="submit" class="btn btn-default" value="Search">
      </form>
      <script type="text/javascript">
        function set_trans_type(type)
        {
            $('#trans_type_id').val(type);
            if (type == 1) {
              $('#tab_resale').addClass('active');
              $('#tab_rent').removeClass('active');
            } else {
              $('#tab_resale').removeClass('active');
              $('#tab_rent').addClass('active');            
            }
        }
      </script>
    {% endblock %}
    </div>
    </div>
</div>

</div>
</div>

{% endblock %}
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Westgate Estates. All Rights Reserved. Website by <a href="rik-deakin">Rik</a></p>
            </div>
        </div>
    </div>
</footer>


{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>
