{% extends "base.html" %}
{% load staticfiles %} 

{% block meta_main %}

<!-- Header --><!--
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome to our website</h1>
                    <h3><a href="tel:0113 2405088">0113 2405088</a></h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- /.intro-header -->

<!-- Page Content -->        
<div class="container">

{% if messages %}
<div class="messages">
{% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
{% endfor %}
</div>
{% endif %}
</div>

 <!-- Slider Banner Header -->
<div class="content-section-b">
    <div class="container">
        <div class="wgbannerslider slider">
          <div><a href="services/free-valuation/"><img src="{% static "img/sales-banner.jpg" %}" alt="Sales Banner - You can sell your home with a completion fee of only £995 for a limited time only."/></a></div>
          <div><a href="services/free-lettings-appraisal/"><img src="{% static "img/lettings-banner.jpg" %}" alt="Lettings Banner - Landlords, for a limited time only, no set up fee, a no let no fee contract and just 10% commission on let properties." /></a></div>
        </div>
    </div>
</div>

<div class="col-md-12">
     <ul class="nav nav-tabs">
          <li class="nav active"><a href="#for_res" data-toggle="tab">Residential</a></li>
          <li class="nav "><a href="#for_com" data-toggle="tab">Commercial</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="for_res">
            <div class="panel panel-default">
              <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="nav active"><a href="#for_sale" data-toggle="tab">For Sale</a></li>
          <li class="nav "><a href="#to_rent" data-toggle="tab">To Rent</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="for_sale">
            <div class="panel panel-default">
              <div class="panel-body">

                <form id="sale_form" action="{% url 'residential_property_list_sale' %}" method="post">
                  {% csrf_token %}
                  <p>
                    <label>Price : </label>
                    <span style="border:0; color:#f6931f; font-weight:bold;">£</span>
                    <input type="text" id="property_price_low" name ="property_price_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 32px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;"> - £</span>
                    <input type="text" id="property_price_high" name="property_price_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 50px; padding: 0;">
                  </p>         
                  <div id="price-slider-range"></div>    
                  <br/>

                  <p>
                    <label>Number of Bedrooms : </label>
                    <input type="text" id="property_bedroom_low" name="property_bedroom_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 8px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;">- </span>
                    <input type="text" id="property_bedroom_high" name="property_bedroom_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 18px; padding: 0;">        
                  </p>         
                  <div id="bedroom-slider-range"></div>    
                  <br/>
                  <button class="btn btn-default" onclick="search_residental1('sale_form');"><span class='glyphicon glyphicon-search'></span> Search</button>
                  <a class="btn btn-default" data-toggle="modal" data-target="#save_search_dlg" onclick="save_search(event, 'sale_form', '{{ user.is_authenticated }}');" title="Click this button to save your search preferences, so that you do not need to enter them next time you visit our site."><span class='glyphicon glyphicon-download-alt'></span> Save search</a>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade in " id="to_rent">
            <div class="panel panel-default">
              <div class="panel-body">

                <form id="rent_form" action="{% url 'residential_property_list_rent' %}" method="post">
                  {% csrf_token %}
                  <p>
                    <label>Price : </label>
                    <span style="border:0; color:#f6931f; font-weight:bold;">£</span>
                    <input type="text" id="rent-property_price_low" name ="property_price_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 32px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;"> - £</span>
                    <input type="text" id="rent-property_price_high" name="property_price_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 50px; padding: 0;">
                  </p>         
                  <div id="rent-price-slider-range"></div>    
                  <br/>
                  <p>
                    <label>Number of Bedrooms : </label>
                    <input type="text" id="rent-property_bedroom_low" name="property_bedroom_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 8px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;">- </span>
                    <input type="text" id="rent-property_bedroom_high" name="property_bedroom_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 18px; padding: 0;">        
                  </p>         
                  <div id="rent-bedroom-slider-range"></div>    
                  <br/>
                  <label>Furnished ?</label>
                  <select style="width: 94%; margin-bottom: 10px;" name="let_furn" id="let_furn_rent">
                    <option value="-1">Please select...</option>
                    <option value="0">Furnished</option>
                    <option value="1">Part Furnished</option>
                    <option value="2">Unfurnished</option>
                    <option value="3">Not Specified</option>
                    <option value="4">Furnished/ Un Furnished</option>
                  </select>      
                  <button class="btn btn-default" onclick="search_residental1('rent_form');"><span class='glyphicon glyphicon-search'></span> Search</button>
                  <a class="btn btn-default" data-toggle="modal" data-target="#save_search_dlg" onclick="save_search(event, 'rent_form', '{{ user.is_authenticated }}');" title="Click this button to save your search preferences, so that you do not need to enter them next time you visit our site."><span class='glyphicon glyphicon-download-alt'></span> Save search</a>
                </form>
              </div>
            </div>
          </div>
        </div>

              </div>
            </div>
          </div>
          <div class="tab-pane fade in {% if rescom > 2 %}active{%endif%}" id="for_com">
            <div class="panel panel-default">
              <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="nav active"><a href="#cfor_sale" data-toggle="tab">For Sale</a></li>
          <li class="nav "><a href="#cto_rent" data-toggle="tab">To Rent</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="cfor_sale">
            <div class="panel panel-default">
              <div class="panel-body">

                <form id="csale_form" action="{% url 'commercial_property_list_sale' %}" method="post">
                  {% csrf_token %}
                  <p>
                    <label>Price : </label>
                    <span style="border:0; color:#f6931f; font-weight:bold;">£</span>
                    <input type="text" id="cproperty_price_low" name ="property_price_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 32px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;"> - £</span>
                    <input type="text" id="cproperty_price_high" name="property_price_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 50px; padding: 0;">
                  </p>         
                  <div id="cprice-slider-range"></div>    
                  <br/>

                    <input type="hidden" id="cproperty_bedroom_low" name="property_bedroom_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 8px; padding: 0;">
                    <input type="hidden" id="cproperty_bedroom_high" name="property_bedroom_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 18px; padding: 0;">        
                  <div id="cbedroom-slider-range" style="display: none;"></div>    

                  <button class="btn btn-default" onclick="search_residental1('sale_form');"><span class='glyphicon glyphicon-search'></span> Search</button>
                  <a class="btn btn-default" data-toggle="modal" data-target="#save_search_dlg" onclick="save_search(event, 'csale_form', '{{ user.is_authenticated }}');" title="Click this button to save your search preferences, so that you do not need to enter them next time you visit our site."><span class='glyphicon glyphicon-download-alt'></span> Save search</a>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade in" id="cto_rent">
            <div class="panel panel-default">
              <div class="panel-body">

                <form id="crent_form" action="{% url 'commercial_property_list_rent' %}" method="post">
                  {% csrf_token %}
                  <p>
                    <label>Price : </label>
                    <span style="border:0; color:#f6931f; font-weight:bold;">£</span>
                    <input type="text" id="crent-property_price_low" name ="property_price_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 32px; padding: 0;">
                    <span style="border:0; color:#f6931f; font-weight:bold;"> - £</span>
                    <input type="text" id="crent-property_price_high" name="property_price_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 50px; padding: 0;">
                  </p>         
                  <div id="crent-price-slider-range"></div>    
                  <br/>

                    <input type="hidden" id="crent-property_bedroom_low" name="property_bedroom_low" readonly style="border:0; color:#f6931f; font-weight:bold; width: 8px; padding: 0;">
                    <input type="hidden" id="crent-property_bedroom_high" name="property_bedroom_high" readonly style="border:0; color:#f6931f; font-weight:bold; width: 18px; padding: 0;">        
                  <div id="crent-bedroom-slider-range" style="display: none;"></div>    
                  <input type="hidden" value="-1"  name="let_furn" id="clet_furn_rent">
                  <button class="btn btn-default" onclick="search_residental1('rent_form');"><span class='glyphicon glyphicon-search'></span> Search</button>
                  <a class="btn btn-default" data-toggle="modal" data-target="#save_search_dlg" onclick="save_search(event, 'crent_form', '{{ user.is_authenticated }}');" title="Click this button to save your search preferences, so that you do not need to enter them next time you visit our site."><span class='glyphicon glyphicon-download-alt'></span> Save search</a>
                </form>
              </div>
            </div>
          </div>
        </div>
              
              </div>
            </div>
          </div>
        </div>
</div>

<!-- Page Content -->
<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Our Services</h2>
                <p class="lead">We offer a wide range of professional property management, agency and consultancy services across the Commercial and Residential sectors, for both investors and occupiers. We will put at your disposal our knowledge and expertise of the area to enable you to make the right decision on your sale, purchase, rental or management.</p>
                <p>Feel free to <a href="contact-us">get in touch with us</a> about anything you see online</p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Residential Properties</h2>
                <p class="lead">Discover an array of remarkable properties to rent, sell or let. Find out how we can help you sell or let your property.</p>
                <a href="residential/properties/" class="btn btn-default btn-lg"><span class="network-name flaticon-home78"> Find out more</span></a>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Commercial Properties</h2>
                <p class="lead">We offer a wide selection of commercial properties to suit your needs.</p>
                <a href="" class="btn btn-default btn-lg"><span class="network-name flaticon-time12"> Coming soon</span></a>
            </div>
        </div>
    </div>
</div>
<!--
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Recommend a friend</h2>
                <p class="lead">If you introduce a friend to us and if they use our services, you both win!</p>
                <a href="#" class="btn btn-default btn-lg"><span class="network-name flaticon-money363"> Find out more</span></a>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static "img/recommend-a-friend.png" %}" alt="">
            </div>
        </div>
    </div>
</div>
-->

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Connect with us:</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/WestgateEstates" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <!-- <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-google-plus-official fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li> -->
                    <li>
                        <a href="https://www.facebook.com/Westgate-Estates-283486395319079" class="btn btn-default btn-lg"><i class="fa fa-facebook-official fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

{% endblock %}