{% extends "base.html" %}
{% load staticfiles %} 

{% block meta_main %}

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome to our website</h1>
                    <h3>0113 2405088</h3>
                    <!--
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                    -->
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->        
<div class="container">

{% if messages %}
<div class="messages">
{% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
{% endfor %}
</div>
{% endif %}
</div>

 <!-- Slider Banner Header -->
<div class="content-section-b">
    <div class="container">
        <div class="wgbannerslider slider">
          <div><img src="{% static "img/sales-banner.jpg" %}" /></div>
          <div><img src="{% static "img/lettings-banner.jpg" %}" /></div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Our Services</h2>
                <p class="lead">We offer a wide range of professional property management, agency and consultancy services across the Commercial and Residential sectors, for both investors and occupiers. We will put at your disposal our knowledge and expertise of the area to enable you to make the right decision on your sale, purchase, rental or management.</p>
                <p>Feel free to <a href="contact-us">get in touch with us</a> about anything you see online</p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Residential Properties</h2>
                <p class="lead">Discover an array of remarkable properties to rent, sell or let. Find out how we can help you sell or let your property.</p>
                <a href="residential/properties/" class="btn btn-default btn-lg"><span class="network-name flaticon-home78"> Find out more</span></a>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Commercial Properties</h2>
                <p class="lead">We offer a wide selection of commercial properties to suit your needs.</p>
                <a href="" class="btn btn-default btn-lg"><span class="network-name flaticon-time12"> Coming soon</span></a>
            </div>
        </div>
    </div>
</div>
<!--
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">Recommend a friend</h2>
                <p class="lead">If you introduce a friend to us and if they use our services, you both win!</p>
                <a href="#" class="btn btn-default btn-lg"><span class="network-name flaticon-money363"> Find out more</span></a>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static "img/recommend-a-friend.png" %}" alt="">
            </div>
        </div>
    </div>
</div>
-->

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Connect with us:</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/WestgateEstates" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <!-- <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-google-plus-official fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li> -->
                    <li>
                        <a href="https://www.facebook.com/Westgate-Estates-283486395319079" class="btn btn-default btn-lg"><i class="fa fa-facebook-official fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

{% endblock %}