{% extends request.is_ajax|yesno:"ajax.html,base.html" %}

{% block main %}

<div class="col-md-12 middle">
        {% if residentiallist %}
            <div id="map" style="height: 500px; margin-bottom: 12px;"></div>
        {% endif %}
        {% for property in residentiallist %}
        <div class="row">
            <div class="col-sm-4">
              <a href="{% url 'residential_property_detail' property.SLUG %}">
                <img class="img-responsive" src="{{ STATIC_URL }}img/properties/{{ property.AGENT_REF }}_IMG_00.JPG">
              </a>
            </div>
            <div class="col-sm-8">
                <a href="{% url 'residential_property_detail' property.SLUG %}"><h3>{{ property.DISPLAY_ADDRESS }}</h3></a>
                <h4>Bedrooms: {{ property.BEDROOMS }}</h4>
                <p>{{ property.SUMMARY }}</p>
                <a href="{% url 'residential_property_detail' property.SLUG %}" class="btn btn-default btn-lg"><span class="network-name flaticon-home78"> More details</span></a>
            </div>
        </div>     
        {% empty %}
        <div class="row">
            <div class="col-sm-4">
                No properties to display.
            </div>
        </div>
        {% endfor %}
    {% if residentiallist %}
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 53.8, lng: -1.55}
        });
        var geocoder = new google.maps.Geocoder();
        {% for property in residentiallist %}
            geocodeAddress(geocoder, map, "{{ property.DISPLAY_ADDRESS }}","{% url 'residential_property_detail' property.SLUG %}","{{ STATIC_URL }}img/properties/{{ property.AGENT_REF.strip }}_IMG_00.JPG","{{ property.BEDROOMS }}", "{{ property.SUMMARY }}");
        {% endfor %}
      }

      function geocodeAddress(geocoder, resultsMap, address, url, img_src, bedrooms, summary) {
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            //resultsMap.setCenter(results[0].geometry.location);
            var contentString = '<div class="marker_dialog"><a href="'+url+
                '"><h4>'+address+'</h4></a><img class="marker_photo" src="'+img_src+
                '"><h5>Bedrooms: '+bedrooms+
                '</h5><p>'+summary+
                '</p><a href="'+url+
                '" class="btn btn-default btn-xs"> More details</span></a></div> ';

            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });

            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location,
            });

            marker.addListener('click', function() {
              infowindow.open(resultsMap, marker);
            });
          } else {
            //alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>    
    {% endif %}
</div>
{% endblock %}