{% extends parent_tempate %}
{% block title %}{% endblock %}
{% block main %}

<div class="col-md-12 middle">
        {% if residentiallist and not flag %}
            <div id="map" style="height: 500px; margin-bottom: 12px;"></div>
        {% endif %}
        {% for property in residentiallist %}
        <div class="row">
            <div class="col-sm-4" style="padding-top: 25px;">
              <a href="{% url 'residential_property_detail' property.SLUG %}">
                <img class="img-responsive" src="{{ STATIC_URL }}img/properties/{{ property.AGENT_REF }}_IMG_00.JPG">
              </a>
            </div>
            <div class="col-sm-8">
                <a href="{% url 'residential_property_detail' property.SLUG %}"><h3>{{ property.ADDRESS_1 }}</h3></a>
                {% if property.id in favorites %}
                <img src="{{ STATIC_URL }}img/e_star.png" class="favorite_star list star{{property.id}}" title="Click this icon to add or remove this property in your favourites" onclick="toggle_favorite(event, this, {{ property.id }}, '{{ user.is_authenticated }}','{{flag}}');" data-toggle="modal" data-target="#favorite_dlg" >
                {% else %}
                <img src="{{ STATIC_URL }}img/d_star.png" class="favorite_star list star{{property.id}}" title="Click this icon to add or remove this property in your favourites" onclick="toggle_favorite(event, this, {{ property.id }}, '{{ user.is_authenticated }}','{{flag}}');" data-toggle="modal" data-target="#favorite_dlg" >                
                {% endif %}
                <h4>Bedrooms: {{ property.BEDROOMS }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;£{{ property.PRICE }} {% if property.TRANS_TYPE_ID == 2 %}/ month {% endif %}</h4>
                <p>{{ property.SUMMARY }}</p>
                <a href="{% url 'residential_property_detail' property.SLUG %}" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> More details</a>
            </div>
        </div>     
        {% empty %}
        <div class="row">
            <div class="col-sm-4">
                No properties to display.
            </div>
        </div>
        {% endfor %}
    {% if residentiallist %}
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 53.8, lng: -1.55}
        });
        var geocoder = new google.maps.Geocoder();
        {% for property in residentiallist %}
            geocodeAddress(geocoder, map, "{{ property.DISPLAY_ADDRESS }}","{% url 'residential_property_detail' property.SLUG %}","{{ STATIC_URL }}img/properties/{{ property.AGENT_REF.strip }}_IMG_00.JPG","{{ property.BEDROOMS }}", "{{ property.SUMMARY }}", "{{ property.id }}");
        {% endfor %}
      }

      function geocodeAddress(geocoder, resultsMap, address, url, img_src, bedrooms, summary, id) {
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            //resultsMap.setCenter(results[0].geometry.location);
            var sum_len = 480;
            if (summary.length > sum_len)
              summary = summary.substring(0, sum_len);

            var contentString = '<div class="marker_dialog"><a href="'+url+
                '"><h4>'+address+'</h4></a><img class="marker_photo" src="'+img_src+
                '"><h5>Bedrooms: '+bedrooms+
                '</h5><img src="/static/img/d_star.png" class="favorite_star pin star'+id+'" title="Click this icon to add or remove this property in your favourites" onclick="toggle_favorite(event, this, '+id+', \'{{ user.is_authenticated }}\');" data-toggle="modal" data-target="#favorite_dlg"><div class="marker_summary">'+summary+
                '</div><a href="'+url+
                '" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-home"></span> More details</span></a></div> ';

            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });

            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location,
            });

            marker.addListener('click', function() {
              infowindow.open(resultsMap, marker);
              $('.favorite_star.pin.star'+id).attr('src',$('.favorite_star.list.star'+id).attr('src'));
            });
          } else {
            //alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>    
      {% if save_search %}
        {% block slider_js_variable %}
        <script type="text/javascript">
          var price_range_sale = [{{save_search.s_low_price}}, {{save_search.s_high_price}}];
          var bedroom_range_sale = [{{save_search.s_low_bedroom}}, {{save_search.s_high_bedroom}}];
          var price_range_rent = [{{save_search.r_low_price}}, {{save_search.r_high_price}}];
          var bedroom_range_rent = [{{save_search.r_low_bedroom}}, {{save_search.r_high_bedroom}}];
          var let_furn = {{ save_search.r_furnished }};
        </script>
        {% endblock %}
      {% endif %}
    {% endif %}
</div>
{% endblock %}