{% extends "base.html" %}
{% load staticfiles %} 
{% block title %} {{object.ADDRESS_1}} {% endblock %}
#{% block left_panel %}{% endblock %}
{% block main %}
<div class="col-md-12 middle">
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        <div class="content-section-c">
            <div class="slider wgpropertygallery">
              {% for image in images %}
                <img class="img-responsive" src="{{image}}" alt="">
              {% endfor %}
            </div>
            <div class="slider wgpropertygallery-nav">
              {% for image in images %}
                <img class="img-responsive" src="{{image}}" alt="">
              {% endfor %}
            </div>
        </div>
         
          <div class="caption-full">
            {% if is_favor %}
            <img src="{{ STATIC_URL }}img/e_star.png" class="favorite_star detail star{{object.id}}" title="Click this icon to add or remove this property in your favourites" onclick="toggle_favorite(event, this, {{ object.id }}, '{{ user.is_authenticated }}');" data-toggle="modal" data-target="#favorite_dlg" >                    
            {% else %}
            <img src="{{ STATIC_URL }}img/d_star.png" class="favorite_star detail star{{object.id}}" title="Click this icon to add or remove this property in your favourites" onclick="toggle_favorite(event, this, {{ object.id }}, '{{ user.is_authenticated }}');" data-toggle="modal" data-target="#favorite_dlg" >                    
            {% endif %}
            
            <h4><a href="#">{{ object.DISPLAY_ADDRESS }}</a></h4>
            <div class="row">
              <div class="col-md-4">
                <table class="table table-condensed">
                  <tr>
                    <td>Bedrooms:</td>
                    <td>{{ object.BEDROOMS }}</td>
                  </tr>
                  {% if object.TRANS_TYPE_ID == 2 %}
                  <tr>
                    <td>Rent frequency:</td>
                    <td>{{ Let_Rent_Period }}</td>
                  </tr>
                  {% endif %}
                  <tr>
                    <td>Price:</td>
                    <td>£{{ object.PRICE }}</td>
                  </tr>                            
                </table>
              </div>
              <div class="col-md-8">
                <p>{{ object.DESCRIPTION }}</p>
              </div>
            </div>
            <div id="map" style="height: 300px;"></div>
          </div>
        </div>
{% if contacted %}
  {% if is_posted %}
  <script type="text/javascript">
    $('#contact-success-modal').modal();    
  </script>
  {% endif %}
{% endif %}
<hr>
<h3>Contact us </h3>
<p>Would you like to book a viewing of this property? Please get in touch with us using the form below and we'll get back to you.</p>
{% if not user.is_authenticated %}
<div class="alert alert-info" role="alert">
  <p><b>You are not signed in!</b><br>
  If you sign in or register a new account, your contact details will be added to all of our forms automatically, to save you having to type them in again.<br>
  It's quick and easy and will also allow you to save your search settings and add your favourite properties to a list.</p>
  <div class="Sign-in-button">
    <button class="btn btn-primary btn-md" href="#login-register-modal" role="button" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign in / register</button>
  </div>
</div>
{% endif %}

  <form class="mezzanine-form" method="post">
    {{ form.enquiry_property }}
    {% csrf_token %}
    
    <div class="form-group input_id_field_1 charfield">
        <label class="control-label" for="id_name">Your name:</label>
        {{ form.name }}
        <p class="help-block">required</p>
    </div>
    
    <div class="form-group input_id_field_2 emailfield">
        <label class="control-label" for="id_email">Your email address:</label>
        {{ form.email }}
    </div>
    
    <div class="form-group input_id_field_3 charfield">
        <label class="control-label" for="id_phone">Your phone number:</label>
        {{ form.phone }}
    </div>
    
    <!-- Multiple Checkboxes -->
    <div class="form-group input_id_field_5">
      <label class="control-label" for="checkbox">How can we contact you?</label>
      <div class="checkbox">
        <label for="id_contact_phone">
          {{ form.contact_phone }}
          By phone?
        </label>
      </div>
      <div class="checkbox">
        <label for="id_contact_email">
          {{ form.contact_email }}
          By email?
        </label>
      </div>
    </div>
    <div class="form-group input_id_field_6 charfield">
        <label class="control-label" for="id_field_6">Your message:</label>
        {{ form.message }}
        <p class="help-block">required</p>
    </div>
    
    <div class="form-actions">
        <input class="btn btn-primary btn-md" type="submit" value="Send Message">
    </div>
</form>

      </div>
    </div>

    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,        
        });
        var geocoder = new google.maps.Geocoder();

        var address = "{{ object.DISPLAY_ADDRESS }}";
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>    
    {% block slider_js_variable %}
    {% if save_search %}
    <script type="text/javascript">
      var price_range_sale = [{{save_search.s_low_price}}, {{save_search.s_high_price}}];
      var bedroom_range_sale = [{{save_search.s_low_bedroom}}, {{save_search.s_high_bedroom}}];
      var price_range_rent = [{{save_search.r_low_price}}, {{save_search.r_high_price}}];
      var bedroom_range_rent = [{{save_search.r_low_bedroom}}, {{save_search.r_high_bedroom}}];
      var let_furn = {% if save_search.r_furnished %} {{ save_search.r_furnished }}{% else %}-1{% endif %};
      var cprice_range_sale = [{{save_search.cs_low_price}}, {{save_search.cs_high_price}}];
      var cbedroom_range_sale = [{{save_search.cs_low_bedroom}}, {{save_search.cs_high_bedroom}}];
      var cprice_range_rent = [{{save_search.cr_low_price}}, {{save_search.cr_high_price}}];
      var cbedroom_range_rent = [{{save_search.cr_low_bedroom}}, {{save_search.cr_high_bedroom}}];
      var clet_furn = {% if save_search.cr_furnished %} {{ save_search.cr_furnished }}{% else %}-1{% endif %};
    </script>
    {% else %}
      {{ block.super }}
    {% endif %}
    {% endblock %}  
  </div> 

  {% endblock %}